Stroke prediction task

In [ ]:
import numpy as np
import pandas as pd
import torch
from sklearn.preprocessing import OneHotEncoder

In [ ]:
test_dataset = pd.read_csv('test.csv')
test_dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes

In [ ]:
train_dataset = pd.read_csv('train.csv')
train_dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [ ]:
X_train = train_dataset.drop('id', axis=1).drop('stroke', axis=1)
y_train = train_dataset['stroke']

X_test = test_dataset.drop('id', axis=1)

In [ ]:
X_train.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked
1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked
2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown
3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked
4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked

In [ ]:
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: stroke, dtype: int64

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             15304 non-null  object
 1   age                15304 non-null  float64
 2   hypertension       15304 non-null  int64
 3   heart_disease      15304 non-null  int64
 4   ever_married       15304 non-null  object
 5   work_type          15304 non-null  object
 6   Residence_type     15304 non-null  object
 7   avg_glucose_level  15304 non-null  float64
 8   bmi                15304 non-null  float64
 9   smoking_status     15304 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 1.2+ MB

In [ ]:
to_encode = ['gender', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [ ]:
ohe = OneHotEncoder()
ohe.fit(X_train[to_encode])
new_cols = pd.DataFrame.sparse.from_spmatrix(ohe.transform(X_train[to_encode]))
X_train = X_train.drop(to_encode, axis=1)
X_train = pd.concat([X_train, new_cols], axis=1)

new_cols = pd.DataFrame.sparse.from_spmatrix(ohe.transform(X_test[to_encode]))
X_test = X_test.drop(to_encode, axis=1)
X_test = pd.concat([X_test, new_cols], axis=1)

In [ ]:
X_train.head()

,age,avg_glucose_level,bmi,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,28.0,79.53,31.1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,33.0,78.44,23.9,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,42.0,103.00,40.3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,56.0,64.87,28.8,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,24.0,73.36,28.8,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
X_test.head()

,age,avg_glucose_level,bmi,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,57.0,82.54,33.4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,70.0,72.06,28.5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,5.0,103.72,19.5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,56.0,69.24,41.4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,32.0,111.15,30.1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
X_train = X_train.values
Y_train = y_train.values
X_test = X_test.values

Data manipulations are over

In [ ]:
device = torch.device('cpu')
if torch.cuda.is_available():
    device = torch.device('cuda', 0)
    
print(type(device), device)

<class 'torch.device'> cuda:0

In [ ]:
#defining dataset class
from torch.utils.data import Dataset, DataLoader

class dataset(Dataset):
    def __init__(self,x,y):
        self.x = torch.tensor(x,dtype=torch.float32).to(device)
        self.y = torch.tensor(y,dtype=torch.float32).to(device)
        self.length = self.x.shape[0]
 
    def __getitem__(self,idx):
        return self.x[idx],self.y[idx]
    def __len__(self):
        return self.length
trainset = dataset(X_train, Y_train)
#DataLoader
label_uniques, counts = np.unique(Y_train, return_counts=True)
class_weights = [sum(counts) / c for c in counts]
example_weights = [class_weights[e] for e in Y_train]
sampler = torch.utils.data.WeightedRandomSampler(example_weights, len(Y_train))


trainloader = DataLoader(trainset,sampler=sampler,batch_size=1024,shuffle=False)

In [ ]:
from torch import nn
from torch.nn import functional as F

In [ ]:
class Net(nn.Module):
    def __init__(self,input_shape):
        super(Net,self).__init__()
        self.fc1 = nn.Linear(input_shape,32)
        self.fc2 = nn.Linear(32,64)
        self.fc3 = nn.Linear(64,64)
        self.fc4 = nn.Linear(64,32)
        self.fc5 = nn.Linear(32,1)
    def forward(self,x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = torch.relu(self.fc3(x))
        x = torch.relu(self.fc4(x))
        x = torch.sigmoid(self.fc5(x))
        return x

In [ ]:
#hyper parameters
learning_rate = 0.01
epochs = 2000
# Model , Optimizer, Loss
model = Net(input_shape=X_train.shape[1])
model.to(device)
optimizer = torch.optim.SGD(model.parameters(),lr=learning_rate)
loss_fn = nn.BCELoss()

In [ ]:
from tqdm import tqdm
from sklearn.metrics import balanced_accuracy_score
losses = []
accur = []
for i in tqdm(range(epochs)):
    for j, (x_train, y_train) in enumerate(trainloader):
    
    #calculate output
        output = model(x_train)
 
    #calculate loss
        loss = loss_fn(output,y_train.reshape(-1,1))
 
    #accuracy
        predicted = model(torch.tensor(X_train,dtype=torch.float32).to(device))
        acc = (predicted.reshape(-1).detach().cpu().numpy().round() == Y_train).mean()
        bacc = balanced_accuracy_score(Y_train, predicted.reshape(-1).detach().cpu().numpy().round())
    #backprop
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

    if i%50 == 0:
        losses.append(loss)
        accur.append(acc)
        print("\n epoch {}\tloss : {}\t balanced accuracy : {}\t accuracy: {}".format(i,loss,bacc,acc))

  0%|          | 2/2000 [00:00<06:23,  5.22it/s]

 epoch 0	loss : 0.6596376895904541	 balanced accuracy : 0.7188897650566652	 accuracy: 0.5277705175117616

  3%|â–Ž         | 51/2000 [00:11<07:30,  4.33it/s]

 epoch 50	loss : 0.4789374768733978	 balanced accuracy : 0.7637629757188411	 accuracy: 0.7705828541557763

  5%|â–Œ         | 102/2000 [00:22<06:19,  5.00it/s]

 epoch 100	loss : 0.4740696847438812	 balanced accuracy : 0.7699626775533868	 accuracy: 0.7897281756403555

  8%|â–Š         | 152/2000 [00:33<06:21,  4.84it/s]

 epoch 150	loss : 0.4977327883243561	 balanced accuracy : 0.7751219061883136	 accuracy: 0.7430083638264506

 10%|â–ˆ         | 201/2000 [00:44<08:10,  3.67it/s]

 epoch 200	loss : 0.4614168405532837	 balanced accuracy : 0.778429247822426	 accuracy: 0.7827365394668061

 13%|â–ˆâ–Ž        | 252/2000 [00:54<06:14,  4.66it/s]

 epoch 250	loss : 0.4570108652114868	 balanced accuracy : 0.7776700302306641	 accuracy: 0.7696680606377417

 15%|â–ˆâ–Œ        | 301/2000 [01:04<05:26,  5.21it/s]

 epoch 300	loss : 0.4430406987667084	 balanced accuracy : 0.7861974241817704	 accuracy: 0.7642446419236801

 18%|â–ˆâ–Š        | 352/2000 [01:15<05:26,  5.04it/s]

 epoch 350	loss : 0.4627639949321747	 balanced accuracy : 0.7823042771558328	 accuracy: 0.6842002090956613

 20%|â–ˆâ–ˆ        | 402/2000 [01:25<05:41,  4.68it/s]

 epoch 400	loss : 0.4470580220222473	 balanced accuracy : 0.7862409929185705	 accuracy: 0.7759409304756927

 23%|â–ˆâ–ˆâ–Ž       | 451/2000 [01:36<05:17,  4.87it/s]

 epoch 450	loss : 0.4635266065597534	 balanced accuracy : 0.7841854975636018	 accuracy: 0.821353894406691

 25%|â–ˆâ–ˆâ–Œ       | 502/2000 [01:46<04:54,  5.09it/s]

 epoch 500	loss : 0.4180058538913727	 balanced accuracy : 0.7909205340750659	 accuracy: 0.7355593308938839

 28%|â–ˆâ–ˆâ–Š       | 552/2000 [01:57<05:09,  4.68it/s]

 epoch 550	loss : 0.4431176483631134	 balanced accuracy : 0.786248326270309	 accuracy: 0.7745033978044955

 30%|â–ˆâ–ˆâ–ˆ       | 602/2000 [02:07<04:37,  5.03it/s]

 epoch 600	loss : 0.4420555531978607	 balanced accuracy : 0.792967401957401	 accuracy: 0.7525483533716676

 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 652/2000 [02:17<04:41,  4.78it/s]

 epoch 650	loss : 0.41951555013656616	 balanced accuracy : 0.7940126202669685	 accuracy: 0.8242289597490852

 35%|â–ˆâ–ˆâ–ˆâ–Œ      | 701/2000 [02:28<04:12,  5.15it/s]

 epoch 700	loss : 0.393329381942749	 balanced accuracy : 0.7972479225045899	 accuracy: 0.8173680083638265

 38%|â–ˆâ–ˆâ–ˆâ–Š      | 752/2000 [02:38<04:02,  5.15it/s]

 epoch 750	loss : 0.4199945330619812	 balanced accuracy : 0.796461528374032	 accuracy: 0.8231181390486147

 40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 802/2000 [02:50<04:03,  4.91it/s]

 epoch 800	loss : 0.4174606204032898	 balanced accuracy : 0.7857475014839252	 accuracy: 0.8591871406168322

 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 851/2000 [03:01<03:47,  5.06it/s]

 epoch 850	loss : 0.41826483607292175	 balanced accuracy : 0.7872974269425618	 accuracy: 0.6632906429691584

 45%|â–ˆâ–ˆâ–ˆâ–ˆâ–Œ     | 902/2000 [03:11<03:41,  4.96it/s]

 epoch 900	loss : 0.44242697954177856	 balanced accuracy : 0.7943779937330039	 accuracy: 0.6986408782017773

 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 952/2000 [03:22<03:36,  4.84it/s]

 epoch 950	loss : 0.40747693181037903	 balanced accuracy : 0.7980524343276783	 accuracy: 0.7608468374281233

 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 1002/2000 [03:32<03:10,  5.23it/s]

 epoch 1000	loss : 0.39136838912963867	 balanced accuracy : 0.7962540376571925	 accuracy: 0.7356246732880293

 53%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž    | 1052/2000 [03:42<03:12,  4.92it/s]

 epoch 1050	loss : 0.4022776484489441	 balanced accuracy : 0.7994600064878594	 accuracy: 0.7345138525875589

 55%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ    | 1101/2000 [03:52<02:55,  5.12it/s]

 epoch 1100	loss : 0.45091792941093445	 balanced accuracy : 0.7998016544041522	 accuracy: 0.8092002090956613

 58%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š    | 1152/2000 [04:03<02:53,  4.90it/s]

 epoch 1150	loss : 0.4478054940700531	 balanced accuracy : 0.7912660643540439	 accuracy: 0.85670412963931

 60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 1202/2000 [04:13<02:46,  4.79it/s]

 epoch 1200	loss : 0.42358899116516113	 balanced accuracy : 0.794942230443245	 accuracy: 0.7229482488238369

 63%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž   | 1251/2000 [04:24<02:32,  4.90it/s]

 epoch 1250	loss : 0.41763588786125183	 balanced accuracy : 0.7993357708819347	 accuracy: 0.7386304234187141

 65%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ   | 1302/2000 [04:34<02:20,  4.96it/s]

 epoch 1300	loss : 0.3796946406364441	 balanced accuracy : 0.7983863175186008	 accuracy: 0.7426163094615786

 68%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š   | 1352/2000 [04:45<02:12,  4.89it/s]

 epoch 1350	loss : 0.4517976939678192	 balanced accuracy : 0.8015297371726737	 accuracy: 0.8212232096184005

 70%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ   | 1402/2000 [04:55<01:54,  5.20it/s]

 epoch 1400	loss : 0.40532392263412476	 balanced accuracy : 0.7995432615987742	 accuracy: 0.8261238891792996

 73%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž  | 1452/2000 [05:05<01:50,  4.95it/s]

 epoch 1450	loss : 0.4031604528427124	 balanced accuracy : 0.7996247912151623	 accuracy: 0.7696680606377417

 75%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 1501/2000 [05:15<01:35,  5.20it/s]

 epoch 1500	loss : 0.4009556174278259	 balanced accuracy : 0.808214302969231	 accuracy: 0.8195243073706221

 78%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š  | 1552/2000 [05:26<01:32,  4.85it/s]

 epoch 1550	loss : 0.4463946521282196	 balanced accuracy : 0.7994996928619742	 accuracy: 0.6997516989022478

 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 1602/2000 [05:36<01:23,  4.77it/s]

 epoch 1600	loss : 0.41016727685928345	 balanced accuracy : 0.8032871533481496	 accuracy: 0.8274960794563513

 83%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž | 1651/2000 [05:47<01:09,  5.03it/s]

 epoch 1650	loss : 0.38394397497177124	 balanced accuracy : 0.8014283643692282	 accuracy: 0.7803842132775745

 85%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 1702/2000 [05:57<01:00,  4.93it/s]

 epoch 1700	loss : 0.42433828115463257	 balanced accuracy : 0.7944759155473959	 accuracy: 0.6726999477260847

 88%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š | 1752/2000 [06:07<00:52,  4.72it/s]

 epoch 1750	loss : 0.4051278233528137	 balanced accuracy : 0.8012571090374502	 accuracy: 0.8207004704652379

 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 1802/2000 [06:18<00:37,  5.27it/s]

 epoch 1800	loss : 0.40240269899368286	 balanced accuracy : 0.8008775002415692	 accuracy: 0.8141662310507057

 93%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Ž| 1852/2000 [06:28<00:30,  4.85it/s]

 epoch 1850	loss : 0.45276665687561035	 balanced accuracy : 0.7882278998661016	 accuracy: 0.6360428646105594

 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 1901/2000 [06:38<00:19,  5.12it/s]

 epoch 1900	loss : 0.38518792390823364	 balanced accuracy : 0.8071250845492318	 accuracy: 0.7564688970203868

 98%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š| 1952/2000 [06:49<00:09,  5.08it/s]

 epoch 1950	loss : 0.38365089893341064	 balanced accuracy : 0.8035097421420979	 accuracy: 0.7771170935703084

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2000/2000 [06:59<00:00,  4.77it/s]

In [ ]:
prediction = model(torch.tensor(X_test,dtype=torch.float32).to(device))

In [ ]:
prediction = prediction.reshape(-1).detach().cpu().numpy()

In [ ]:
prediction=pd.DataFrame(prediction, range(15304, 15304 + len(prediction)), ['stroke'])
prediction.head()

         stroke
15304  0.511869
15305  0.784809
15306  0.004547
15307  0.587017
15308  0.080378

In [ ]:
prediction.to_csv('results.csv', float_format='{:.32f}'.format, encoding='utf-8', index_label='id')